body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color:pink;
    color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.content {
    width: 80%;
    padding: 20px;
}

.resume-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button#print-button {
    margin: 20px;
    padding: 10px 20px;
}
